img.recipe  {
  width: 30vmin;
  height: 30vmin;
  background: rgb(221 225 233);
  border-radius: 1rem;
  object-fit: cover;
  padding: 0.05rem;
}

h3.recipeDescription  {
  display:flex;
  gap: 1rem;
}

button.recipe {
  background-color: rgb(192, 214, 251);
  border-color: #9e9b9b;
  color: black;
}


