img.recipe  {
  width: 30vmin;
  height: 30vmin;
  background: var(--blank-color);
  border-radius: 1rem;
  object-fit: cover;
  padding: 0.05rem;
}

h3.recipeDescription  {
  display:flex;
  gap: 1rem;
}



