div.ingredientListItem {
  padding: 2px;
  padding-left: 0.5rem;
  padding-bottom: 4px;
}

div.ingredientListItem:hover {
  background: var(--hover-color);
}

div.cardHeader {
  background-color: var(--primary-color);
}

div.cardFooter {
  background-color: var(--primary-color);
}

