div.recipes {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
  flex-wrap: nowrap;
  
  /* 
  background-color: #eaf0fb;
  padding: 1rem;
  border-bottom: solid 1px rgb(161, 160, 160); */
}

.recipes a span {
  float: right;
  color: #eeb004;
}

.recipes a:global(.active) div {
  background-color: #dde8fc;
}

.recipes a {
  text-decoration: none;
}

.recipes div:hover {
  background: #f3f2f2;
} 

html,
body {
  height: 100%;
}

h5.recipeList {
  line-height: .3rem;
}
