div.recipes {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
  flex-wrap: nowrap;
}

.recipes a span {
  float: right;
  color: var(--star-color);
}

.recipes a:global(.active) div {
  background-color: var(--primary-color);
}

.recipes a {
  text-decoration: none;
}

.recipes div:hover {
  background: var(--hover-color);
} 

h5.recipeList {
  line-height: .3rem;
}
