.menuTitle {
  border-bottom: var(--border);
  background-color: var(--secondary-color);
}

.pageHeader {
  border-bottom: var(--border);
  padding: 0.25rem;
  background-color: var(--secondary-color);
}

.recipeMenu {
  border-bottom: var(--border);
  background-color: var(--primary-color);
}

.menuSection {
  border-bottom: var(--border);
  padding: 0.25rem;
  background-color: var(--primary-color);
  display: flex;
}

.toggleButton {
  background-size: 0;
  border-color: var(--secondary-color) !important;
  background-color: var(--secondary-color) !important;
  box-shadow: none;
}

