.sidebar {
  background-color:rgb(192, 214, 251);
  border-right: solid 1px rgb(161, 160, 160);
  display: flex;
  flex-direction: column; 
}

.sidebar h3 {
  order: 1;
  margin-bottom: 0;
}

.sidebar div.search {
  display: flex;
  border-bottom: solid 1px rgb(161, 160, 160);
  background-color: rgb(215, 228, 252);
}

.hideBar {
  background-color: rgb(247, 248, 249);
}

.hideBar:hover {
  background-color: rgb(226, 228, 230);
  cursor: ew-resize;
}

.detail {
  flex: 1;
  overflow: auto;
}

.hidden {
  display:none !important;
}